@model Stage.Models.Entrainement

@{
    ViewData["Title"] = "Détails de l'événement";
}

<div class="container mt-5">
    <div class="card shadow-lg" style="animation: fadeIn 1s;">
        <div class="card-body">
            <h2 class="card-title text-center">@Model.Titre</h2>
            <p class="card-text text-center text-muted">@Model.Description</p>

          


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Date : </strong> Du @Model.DateDebut.ToString("dd MMM yyyy") au @Model.DateFin.ToString("dd MMM yyyy")
                </li>
                <li class="list-group-item">
                    <strong>Heures : </strong> De @Model.HeureDebut.ToString(@"hh\:mm") à @Model.HeureFin.ToString(@"hh\:mm")
                </li>
                <li class="list-group-item">
                    <strong>Lieu : </strong> @Model.Lieu
                </li>
                <li class="list-group-item">
                    <strong>Type d'Événement : </strong> @Model.TypeEvenement
                </li>
            </ul>

            <div class="text-center mt-4">
                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Modifier
                </a>
                <a href="@Url.Action("Index")" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Retour à la liste
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
